**2023: Week 1 The Data Source Bank**

<a href = "https://preppindata.blogspot.com/2023/01/2023-week-1-data-source-bank.html" >Data source and requirements </a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Input the data
data = pd.read_csv("PD 2023 Wk 1 Input.csv")

In [3]:
#Split the Transaction Code to extract the letters at the start of the transaction code. 
#These identify the bank who processes the transaction 
#Rename the new field with the Bank code 'Bank'.

data['Bank'] = data['Transaction Code'].str.split("-", expand=True)[0]

In [4]:
#Rename the values in the Online or In-person field, Online of the 1 values and In-Person for the 2 values.

data['Online or In-Person'] = np.where(data['Online or In-Person'] == 1, "Online", "In-Person")

In [5]:
#Change the date to be the day of the week

data['Transaction Date'] = pd.to_datetime(data['Transaction Date'])

data['Transaction Date'] = data['Transaction Date'].dt.day_name()

In [6]:
#Different levels of detail are required in the outputs. 
#You will need to sum up the values of the transactions in three ways
#1. Total Values of Transactions by each bank

# Using as_index=False
df = data.groupby('Bank', as_index =False)['Value'].sum()

# Using reset_index()
df = data.groupby(['Bank'])['Value'].sum().reset_index()
print(df)

  Bank   Value
0   DS  653940
1  DSB  530489
2  DTB  618238

In [7]:
#2.Total Values by Bank, Day of the Week and Type of Transaction (Online or In-Person)
df1 = data.groupby(['Bank','Transaction Date','Online or In-Person'], as_index =False)['Value'].sum()
df1 = data.groupby(['Bank','Transaction Date','Online or In-Person'])['Value'].sum().reset_index()
print(df1)

   Bank Transaction Date Online or In-Person  Value
0    DS           Friday           In-Person  50925
1    DS           Friday              Online  61713
2    DS           Monday           In-Person  50810
3    DS           Monday              Online  34668
4    DS         Saturday           In-Person  41141
5    DS         Saturday              Online  64362
6    DS           Sunday           In-Person  70291
7    DS           Sunday              Online  40022
8    DS         Thursday           In-Person  39805
9    DS         Thursday              Online  11448
10   DS          Tuesday           In-Person  42519
11   DS          Tuesday              Online  41709
12   DS        Wednesday           In-Person  63957
13   DS        Wednesday              Online  40570
14  DSB           Friday           In-Person  31640
15  DSB           Friday              Online  30308
16  DSB           Monday           In-Person  39507
17  DSB           Monday              Online  37895
18  DSB         Saturday           In-Person  72116
19  DSB         Saturday              Online  39699
20  DSB           Sunday           In-Person  38907
21  DSB           Sunday              Online  13701
22  DSB         Thursday           In-Person  36124
23  DSB         Thursday              Online  31552
24  DSB          Tuesday           In-Person  13564
25  DSB          Tuesday              Online  44387
26  DSB        Wednesday           In-Person  33764
27  DSB        Wednesday              Online  67325
28  DTB           Friday           In-Person  72080
29  DTB           Friday              Online  19467
30  DTB           Monday           In-Person  25951
31  DTB           Monday              Online  44210
32  DTB         Saturday           In-Person  72778
33  DTB         Saturday              Online  27722
34  DTB           Sunday           In-Person  26900
35  DTB           Sunday              Online  49997
36  DTB         Thursday           In-Person  46095
37  DTB         Thursday              Online  77318
38  DTB          Tuesday           In-Person  30040
39  DTB          Tuesday              Online  41652
40  DTB        Wednesday           In-Person  49833
41  DTB        Wednesday              Online  34195

In [8]:
#3. Total Values by Bank and Customer Code
df2 = data.groupby(['Bank','Customer Code'], as_index =False)['Value'].sum()

# Using reset_index()
df2 = data.groupby(['Bank','Customer Code'])['Value'].sum().reset_index()
print(df2)

   Bank  Customer Code  Value
0    DS         100000  57909
1    DS         100001  53063
2    DS         100002  69803
3    DS         100003  25482
4    DS         100004  63315
5    DS         100005  39668
6    DS         100006  77636
7    DS         100007  76190
8    DS         100008  56400
9    DS         100009  56581
10   DS         100010  77893
11  DSB         100000  27585
12  DSB         100001  67856
13  DSB         100002  27936
14  DSB         100003  58154
15  DSB         100004  39003
16  DSB         100005  56396
17  DSB         100006  32333
18  DSB         100007  29702
19  DSB         100008  47121
20  DSB         100009  51749
21  DSB         100010  92654
22  DTB         100000  77252
23  DTB         100001  60675
24  DTB         100002  48616
25  DTB         100003  84574
26  DTB         100004  44435
27  DTB         100005  37795
28  DTB         100006  41909
29  DTB         100007  29308
30  DTB         100008  69352
31  DTB         100009  52926
32  DTB         100010  71396

In [9]:
df.to_excel("Total Values of Transactions by each bank.xlsx",index=False)
df1.to_excel("Total Values by Bank, Day of the Week and Type of Transaction (Online or In-Person).xlsx",index=False)
df2.to_excel("Total Values by Bank and Customer Code.xlsx",index=False)