**Data prep**

**2022: Week 1 The Prep School - Parental Contact Details**

<a href = "https://preppindata.blogspot.com/2022/01/2022-week-2-prep-school-birthday-cakes.html" >Data source and requirements </a>

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

**Input the csv file**

In [2]:
data= pd.read_csv("PD 2022 Wk 1 Input - Input.csv")
data.head(10)

,id,pupil first name,pupil last name,gender,Date of Birth,Parental Contact Name_1,Parental Contact Name_2,Preferred Contact Employer,Parental Contact
0,1,Ronna,Nellies,Female,12/21/2013,Purcell,Ketti,Demizz,1
1,2,Rusty,Andriulis,Male,7/21/2012,Vassili,Rivi,Brainbox,1
2,3,Roberta,Oakeshott,Female,12/4/2011,Lind,Haskell,Centidel,2
3,4,Lola,Rubinfajn,Male,6/29/2012,Elie,Tresa,Edgeblab,2
4,5,Kamila,Benedtti,Female,7/10/2012,Adela,Clevey,Trudoo,1
5,6,Avery,Colebourn,Female,8/30/2012,Dalenna,Charley,Linktype,1
6,7,Valentino,Klimko,Female,12/23/2014,Arlette,Onofredo,Thoughtblab,2
7,8,Cal,Shearwood,Male,1/18/2015,Leontine,Berne,Browseblab,2
8,9,King,Truswell,Female,9/14/2012,Evvy,Othelia,Photospace,1
9,10,Towney,Stichall,Male,6/4/2015,Wendie,Joyann,Kwimbee,2

In [3]:
data = data.drop(columns=["Parental Contact Name_1", "Parental Contact Name_2", "Preferred Contact Employer", "Parental Contact"])

**Format the pupil's name in First Name Last Name format**

In [4]:
data["Pupil Name"] = data['pupil first name'] + " " + data['pupil last name']

**Create the date for the pupil's birthday in calendar year 2022**

In [5]:
data['Date of Birth'] =  pd.to_datetime(data['Date of Birth'])
today = datetime.today()
data['d'] = data['Date of Birth'].dt.strftime('%d')
data['m'] = data['Date of Birth'].dt.strftime('%m')
data['y'] = str(today.year)
data["This Year's Birthday"] = data['d'] + "/" + data['m']  + "/" + data['y']
data["This Year's Bday"] =  pd.to_datetime(data["This Year's Birthday"],  format='%d/%m/%Y')

**Work out what day of the week the pupil's birthday falls on** <br>
**Remember if the birthday falls on a Saturday or Sunday, we need to change the weekday to Friday**

In [6]:
data['Cake Needed On']= data["This Year's Bday"].dt.strftime('%A')
data.loc[(data['Cake Needed On'] == "Sunday" ) | (data['Cake Needed On'] == "Saturday"), "Cake Needed On"] = "Friday"

**Work out what month the pupil's birthday falls within**

In [7]:
data['Month']= data["This Year's Bday"].dt.strftime('%B')

**Count how many birthdays there are on each weekday in each month**

In [8]:
data['Rows'] = 1
data['BDs per Weekday and Month'] = data.groupby(['Month','Cake Needed On'])['Rows'].transform(np.sum)

**Remove any unnecessary columns of data**

**Output the data**

In [9]:
output_columns = ["Pupil Name",'Date of Birth',"This Year's Bday",'Cake Needed On','Month','BDs per Weekday and Month']
df = data[output_columns]

# Output the data 
df.to_csv('PD 2022 Week 2 Output.csv', index=False)

In [10]:
print("Data Prepped!")

Data Prepped!